.quem__skills {
	flex-basis: 100%;
	width: 100%;
	height: 25%;
}

.quem__skills--hard img,
.quem__skills--soft img {
	width: 80px;
	filter: grayscale(0.4);
}

.quem__skills--hard {
	width: 50%;
}

.quem__skills--hard div {
	width: 100%;
}

.quem__skills--soft {
	width: 30%;
}

.quem__skills--soft div {
	width: 100%;
}
